data/* 
!data/.gitkeep

results/*
!results/.gitkeep

.vscode/*

# Configuration files
config.py

optimization_results.png

# Python bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Log files
*.log
logs/

