data/* 
!data/.gitkeep

results/*
!results/.gitkeep

.vscode/*

# Configuration files
config.py

# Python bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Log files
*.log
logs/
*.log
*.csv
*.json
